.pagination-section {
	margin-top: 30px;
}

.ant-pagination-options-size-changer.ant-select {
	display: none !important;
}
.ant-pagination {
	display: flex !important;
	justify-content: space-between;
	color: #697488 !important;
}
@media screen and (max-width: 1260px) {
	.ant-pagination {
		font-size: 12px !important;
	}
	.ant-pagination-item {
		/* width: 30px !important; */
		min-width: unset !important;
	}
}

.ant-pagination-item,
.ant-pagination-jump-prev {
	background-color: unset !important;
	border: unset !important;
}
.ant-pagination a {
	color: #697488 !important;
}

.ant-pagination-item-active {
	font-weight: 500;
	background: #1ea4ce !important;
	border-color: #1ea4ce !important;
}

.ant-pagination-item-active a {
	color: #ffff !important;
}
.previous-button-link {
	margin-left: 5px;
}
.next-button-link {
	margin-right: 5px;
}
.ant-pagination-next {
	display: flex !important;
	flex-direction: column;
	align-items: flex-end;
}
.ant-pagination-prev {
	display: flex !important;
	flex-direction: column;
	align-items: flex-start;
}
.ant-pagination::after {
	display: none !important;
}
