.basket {
	border: solid 8px #1ea4ce;
	height: 338.25px;
}
@media screen and (min-width: 320px) and (max-width: 992px) {
	.basket {
		border: solid 1px #1ea4ce;
	}
}
.basket__products {
	height: 220px;
}
@media screen and (min-width: 320px) and (max-width: 992px) {
	.basket {
		height: 500px;
	}

	.basket__products {
		height: 400px;
	}
}
.basket__total-price-container {
	margin-top: 13px;
}
.basket__total-price-container__total-price {
	border: solid 3px #1ea4ce;
	width: 92px;
	height: 51.1px;
	border-radius: 2px;
}
.loading-section {
	border: unset;
}
.loading-section .ant-skeleton-avatar {
	height: 280px !important;
}
