@media screen and (min-width: 320px) and (max-width: 992px) {
	.market-page-customization-section {
		height: 60px;
	}
}
.section-block-header {
	font-size: 13px;
	font-weight: 600;
	line-height: 17.7px;
	height: 10%;
	color: #697488;
}
@media screen and (min-width: 993px) and (max-width: 1100px) {
	.section-block-header {
		font-size: 12px;
	}
	.ant-checkbox-wrapper,
	.ant-radio-wrapper {
		font-size: 12px !important;
	}
}

.ant-space-item,
.ant-checkbox-wrapper {
	margin-bottom: 15px !important;
}

.ant-radio-checked::after,
.ant-checkbox-checked::after {
	border: 1px solid #1ea4ce !important;
}
.ant-radio-inner::after,
.ant-checkbox-checked .ant-checkbox-inner {
	background-color: #1ea4ce !important;
}
.ant-radio-checked .ant-radio-inner,
.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner {
	border-color: #1ea4ce !important;
}
