.product-list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	column-gap: 2%;
	row-gap: 20px;
	padding: 20px;
	background-color: #ffff;
}
.is-empty {
	min-height: 300px;
}
@media screen and (width: 1440px) {
	.is-empty {
		/* height: 1008px; */
	}
}
@media screen and (min-width: 320px) and (max-width: 992px) {
	.is-empty {
		/* min-height: 300px; */
	}
}
@media screen and (max-width: 1439px) {
	.product-list {
		grid-template-columns: 1fr 1fr 1fr;
	}
}
@media screen and (min-width: 360px) and (max-width: 520px) {
	.product-list {
		grid-template-columns: 1fr 1fr;
	}
}
@media screen and (min-width: 320px) and (max-width: 359px) {
	.product-list {
		grid-template-columns: 1fr;
	}
}
