.products-store-section__header {
	font-size: 20px;
	margin-bottom: 16px;
	font-weight: 400;
	color: #697488;
}
@media screen and (min-width: 993px) and (max-width: 1100px) {
	.products-store-section__header {
		font-size: 18px;
	}
}
.products-store-section__tags-filter-list {
	margin-bottom: 18px;
}
.products-store-section .ant-skeleton-content {
	width: 50% !important;
}
