.product-card {
	height: 290px;
	display: grid;
	grid-template-rows: 62% 10% 15% auto;
	gap: 4px;
}

.product-card__image {
	border: 1.17666px solid #f3f0fe;
	border-radius: 12px;
	height: 100%;
}
.product-card__price {
	height: 100%;
}
.product-card__name {
	height: 100%;
}
.product-card__button {
	width: 100%;
}

.product-card__image img {
	width: 80%;
}

.ant-btn-primary {
	background-color: #1ea4ce !important;
}
.product-card .ant-btn {
	font-weight: 600 !important;
	border-color: unset !important;
	border-width: unset !important;
	border-style: unset !important;
	border: unset !important;
	font-size: 12px !important;
	line-height: 20px !important;
	padding: 1px 1px !important;
	height: 25px !important;
}

.product-card .ant-skeleton-avatar {
	width: 100% !important;
	height: 141px !important;
	margin-bottom: 10px;
}

.product-card .ant-skeleton-header {
	padding-right: unset !important;
}
/* media query */
@media screen and (width: 1440px) {
	.product-card {
		display: grid;
		grid-template-rows: 124px 23px 40px auto;
		width: 124px;
		height: 225px;
	}
	.product-card .ant-btn {
		height: 22px !important;
	}
	.product-card__image img {
		height: 92px;
	}
	.product-card__name {
		height: 40px;
	}
}
@media screen and (max-width: 1120px) {
	.product-card {
		height: 285px;
	}
}
@media screen and (min-width: 320px) and (max-width: 899px) {
	.product-card {
		height: 320px;
	}
	.product-card__image img {
		border-radius: 12px;
		width: 100%;
		height: 100%;
	}
}
